.skil_text {
  color: #2d1863;
  font-family: "Abril Fatface", Sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.5em;
}

.skil_info_text {
  color: #8f91b0;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
}

.box_img {
  background-image: url("../../assets/box.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50% auto;
}

.box_img_container1 {
  margin: 0px 25px 50px 0px;
  padding: 40px 30px 40px 30px;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
}

.box_img_container2 {
  margin: 0px 0px 0px 25px;
  padding: 40px 30px 40px 30px;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
}

.box_img_container3 {
  margin: 0px 0px 0px 25px;
  padding: 40px 30px 40px 30px;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
}

.box_img_container4 {
  margin: 0px 25px 50px 0px;
  padding: 40px 30px 40px 30px;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
}

.elementor-widget-wrap {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: flex-end;
}

.title {
  color: #2d1863;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  margin: 0px 0px 15px 0px;
}

.max_width {
  max-width: 50%;
  width: 50%;
}

.box_img_container1,
.box_img_container2,
.box_img_container3,
.box_img_container4 p {
  color: #8f91b0;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
}

.infobox-button {
  box-shadow: none;
  text-decoration: none;
  color: #6f34fe;
  background: rgba(255, 212, 58, 0);
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #ffd43a;
}

.infobox-button-text {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}

@media (max-width: 768px) {
  .elementor-widget-wrap {
    position: relative;
    width: 100%;
    flex-wrap: nowrap;
    display: block;
  }
  .max_width {
    max-width: 100%;
    width: 100%;
  }

  .box_img_container1,
  .box_img_container2,
  .box_img_container3,
  .box_img_container4 {
    margin: 15px !important;
  }
}
