<div class="row h-100">
  <div class="col-lg-5 col-md-12">
    <div class="d-flex align-items-center justify-content-start h-100">
      <div>
        <span class="border_left">
          <b class="ms-2">{{ "My Skills" | uppercase }}</b>
        </span>
        <p class="skil_text">Things I can do for my clients</p>
        <p class="skil_info_text">
          From offering in-depth user research, to helping with design and
          testing, I can help bring your product to life.
        </p>
        <div class="mt-5 mb-5">
          <button class="btn main_button me-3">Hire Me</button>
          <button class="btn download_button">Download CV</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 p-0">
    <div class="d-flex align-items-center justify-content-start h-100 box_img">
      <div class="elementor-widget-wrap">
        <div class="max_width">
          <div class="box_img_container1">
            <h4 class="title">Brand Identity</h4>
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since
              the 1500s, when an unknown
            </p>
            <a class="infobox-button" href="#">
              <span class="infobox-button-text">Explore More</span>
            </a>
          </div>
        </div>
        <div class="max_width">
          <div class="box_img_container2">
            <h4 class="title">Product Design</h4>
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since
              the 1500s, when an unknown
            </p>
            <a class="infobox-button" href="#">
              <span class="infobox-button-text">Explore More</span>
            </a>
          </div>
        </div>
        <div class="max_width">
          <div class="box_img_container4">
            <h4 class="title">Interaction Design</h4>
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since
              the 1500s, when an unknown
            </p>
            <a class="infobox-button" href="#">
              <span class="infobox-button-text">Explore More</span>
            </a>
          </div>
        </div>
        <div class="max_width">
          <div class="box_img_container3">
            <h4 class="title">App Design</h4>
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since
              the 1500s, when an unknown
            </p>
            <a class="infobox-button" href="#">
              <span class="infobox-button-text">Explore More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
