<div class="row h-100">
  <div class="col-lg-6 col-md-12">
    <div class="d-flex align-items-center justify-content-start h-100 box_img">
      <div class="elementor-widget-wrap">
        <div class="max_width">
          <div class="box_img_container1">
            <div class="text-center">
              <img src="../../assets/icon1.png" />
            </div>
            <div>
              <h4 class="title">User Research</h4>
            </div>
          </div>
        </div>
        <div class="max_width">
          <div class="box_img_container2">
            <div class="text-center">
              <img src="../../assets/icon2.png" />
            </div>
            <div>
              <h4 class="title">Visual Design</h4>
            </div>
          </div>
        </div>
        <div class="max_width">
          <div class="box_img_container3">
            <div class="text-center">
              <img src="../../assets/icon4.png" />
            </div>
            <div>
              <h4 class="title">User Testing</h4>
            </div>
          </div>
        </div>
        <div class="max_width">
          <div class="box_img_container4">
            <div class="text-center">
              <img src="../../assets/icon3.png" />
            </div>
            <div>
              <h4 class="title">Prototyping</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="d-flex align-items-center justify-content-start h-100">
      <div>
        <span class="border_left">
          {{ "About Me" | uppercase }}
        </span>
        <p class="about_text">
          Better design,
          Better experience
        </p>
        <p class="about_info_text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry’s standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <div class="mt-5 mb-5">
          <button class="btn main_button me-3">Contact Me</button>
          <button class="btn download_button">Download CV</button>
        </div>
      </div>
    </div>
  </div>
</div>
