<div class="row h-100 w-100 m-0">
  <div class="widget-wrap">
    <div class="main_section">
      <div class="user_banner_img"></div>
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 col-sm-12 order-md-2 order-lg-1 order-sm-2 order-2"
          >
            <div
              id="robotcarousel"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#robotcarousel"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#robotcarousel"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
              </div>

              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="d-flex align-items-center">
                    <div class="carousel_img">
                      <img src="../../assets/profile.jpg" />
                    </div>
                    <div class="ms-2">
                      <p class="name_text mb-0">Kelly Willams</p>
                      <p class="work_text mb-0">Executive Officer</p>
                    </div>
                  </div>
                  <p class="dis_text">
                    “Lorem Ipsum is simply dummy text the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book.”
                  </p>
                </div>
                <div class="carousel-item">
                  <div class="d-flex align-items-center">
                    <div class="carousel_img">
                      <img src="../../assets/profile.jpg" />
                    </div>
                    <div class="ms-2">
                      <p class="name_text mb-0">Kelly Willams</p>
                      <p class="work_text mb-0">Executive Officer</p>
                    </div>
                  </div>
                  <p class="dis_text">
                    “Lorem Ipsum is simply dummy text the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a
                    type specimen book.”
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 col-sm-12 order-md-1 order-lg-2 order-sm-1 order-1"
          >
            <div class="happy_client">
              <span class="info_header_text">{{
                "Testimonials" | uppercase
              }}</span>
              <h2 class="info_heading_title">Hear from my happy clients</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
