<div class="row sub_contant">
  <div class="col-lg-6">
    <div>
      <span class="border_left">{{ "subscription" | uppercase }}</span>
      <h3 class="heading_title mb-0 mt-3">Get news about my projects</h3>
      <P class="info_text"
        >Lorem Ipsum is simply dummy text of the printing and typesetting
        industry’s standard dummy text ever since the 1500s
      </P>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="d-lg-flex">
      <input
        class="form-control form-control-lg me-2 mb-2"
        type="email"
        placeholder="Your Email Address"
      />
      <button class="btn main_button w-100">Subscribe</button>
    </div>
  </div>
</div>

<div class="row footer">
  <div class="col-lg-4 col-sm-12 col-md-6 d-flex d-lg-block aling-items-center justify-content-center mb-4">
    <img src="../../assets/brand3.png" />
  </div>
  <div class="col-lg-4 col-sm-12 col-md-6">
    <p class="mb-0 footer_text">
      © Copyright 2023. Powered by Rajendrasinh Rathod
    </p>
  </div>
  <div class="col-lg-4 col-sm-12 col-md-6 text-lg-end text-center">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-instagram"></a>
  </div>
</div>
