<div class="row">
  <div>
    <div class="text-center">
      <span class="border_left">{{ "portfolio" | uppercase }}</span>
      <h2 class="heading_title">Latest projects</h2>
    </div>
    <div class="project_nav">
      <ul>
        <li class="control all-control active">All</li>
        <li class="control">Product</li>
        <li class="control">Web App</li>
        <li class="control">Interaction</li>
        <li class="control">Brand Identity</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
    <div class="project_grid_item">
      <div class="img_parent"><img src="../../assets/project1.jpg" alt="project1" /></div>
      <div class="project_grid_item_title"><h5>MedCare App Design</h5></div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
    <div class="project_grid_item">
      <div class="img_parent"><img src="../../assets/project2.jpg" alt="project1" /></div>
      <div class="project_grid_item_title"><h5>Otto Phone Design</h5></div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
    <div class="project_grid_item">
      <div class="img_parent"><img src="../../assets/project3.jpg" alt="project1" /></div>
      <div class="project_grid_item_title"><h5>OnlyMe Development</h5></div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
    <div class="project_grid_item">
      <div class="img_parent"><img src="../../assets/project44.jpg" alt="project1" /></div>
      <div class="project_grid_item_title"><h5>iLO App Testing</h5></div>
    </div>
  </div>
</div>
