<div class="main_content">
  <div class="container">
    <div class="row">
      <!-- Header Sectoon -->
      <div class="col-lg-7 col-md-12 mb-3">
        <app-header></app-header>
        <div class="banner_content">
          <div class="main_text">
            <span class="border_left">
              {{ "product designer" | uppercase }}
            </span>
            <h1 class="mb-3 mt-3 font_style">Rajendrasinh Rathod</h1>
            <p>I am a freelance product designer. Let's work together</p>
          </div>
          <div class="mt-5 mb-5 button_center">
            <button class="btn main_button me-3">Contact Me</button>
            <button class="btn download_button">Download CV</button>
          </div>
        </div>
      </div>

      <!-- Banner Sectoon -->
      <div class="col-lg-5 col-md-12">
        <img src="../../assets/banner3.png" class="w-100 h-100" />
      </div>
    </div>

    <!-- About Section -->
    <section class="about_section">
      <app-about></app-about>
    </section>

    <!-- About Section -->
    <section class="skils_section">
      <app-skils></app-skils>
    </section>

    <!-- Latest Project Section -->
    <section class="project_section">
      <app-project></app-project>
    </section>
  </div>

  <!-- Clients Section -->
  <section class="client_section">
    <app-clients></app-clients>
  </section>

  <div class="container">
    <!-- Subscription Section -->
    <section class="subscription_section">
      <app-subscription></app-subscription>
    </section>
  </div>
</div>
